
<footer class="footer fw-bg-color-white">
    <div class="container fw-pl-15 fw-pr-15 fw-text-center fw-pb-30">
        <p class="footer-title fw-AvenirNextBold fw-fz-20 fw-mt-20 fw-mb-25">Установите приложение и знакомьтесь с девушками</p>
        
        <ul class="footer-menu fw-margin-0 fw-fz-16 fw-RobotoRegular fw-pl-0 fw-pb-40 fw-flex fw-flex-center fw-flex-middle">
            <li><a href="#" class="fw-color-gray fw-ml-35 fw-mr-35">В Москве</a></li>
            <li><a href="#" class="fw-color-gray fw-ml-35 fw-mr-35">В Вороженеже</a></li>
            <li><a href="#" class="fw-color-gray fw-ml-35 fw-mr-35">В Нижнем-Новгороже</a></li>
            <li><a href="#" class="fw-color-gray fw-ml-35 fw-mr-35">В Краснодаре</a></li>
            <li><a href="#" class="fw-color-gray fw-ml-35 fw-mr-35">В Новосибирске</a></li>
        </ul>

        <p class="fw-fz-16 fw-RobotoMedium fw-pb-20 fw-margin-0">Получите ссылку на скачивание</p>
        <div class="fw-flex fw-flex-center fw-flex-middle fw-mb-35">
            <a href="https://appsto.re/ru/0udI9.i" target="_blank" class="fw-block"><img class="fw-block fw-opacity-hover" src="images/ios-badge.svg" alt=""></a>
            <a href="https://play.google.com/store/apps/details?id=com.dornoom.denim_new" target="_blank" class="fw-block fw-ml-10 fw-width-136 fw-height-40"><img class="fw-width-1-1 fw-opacity-hover fw-height-1-1" src="images/google-play-badge-2@2x.png" alt=""></a>
        </div>
    </div>
</footer>