<header class="header male-header fw-flex fw-flex-column fw-flex-center fw-relative">
    {#<div class="overlay fw-absolute fw-left-0 fw-top-0 fw-width-1-1 fw-height-1-1"></div>#}
    <div class="top-line fw-flex fw-absolute fw-left-0 fw-top-26 fw-z-index-2 fw-width-1-1 fw-flex-right fw-flex-top fw-pr-135">
        <div class="language fw-pointer fw-flex fw-flex-left fw-flex-middle fw-pl-3 fw-pr-7 fw-pt-3 fw-pb-3 fw-relative">
            <div class="language-icon"><img class="fw-width-23 fw-block" src="images/ru@2x.jpg" alt=""></div>
            <span class="language-title fw-block fw-fz-16 fw-color-white fw-ml-5">RU</span>

            {# Language list #}
            <div class="fw-absolute language-list fw-top-0 fw-pt-45">
                <ul class="fw-pt-10 fw-pl-0 fw-pb-10 fw-bg-color-white">
                    <li>
                        <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                            <div class="language-icon"><img class="fw-width-23 fw-block" src="images/ru@2x.jpg" alt=""></div>
                            <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">RU</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                            <div class="language-icon"><img class="fw-width-23 fw-block" src="images/eng@2x.jpg" alt=""></div>
                            <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">EN</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                            <div class="language-icon"><img class="fw-width-23 fw-block" src="images/cn@2x.jpg" alt=""></div>
                            <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">CN</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                            <div class="language-icon"><img class="fw-width-23 fw-block" src="images/jp@2x.jpg" alt=""></div>
                            <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">JP</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="fw-pointer fw-gray-hover fw-pl-15 fw-pr-20 fw-flex fw-flex-left fw-flex-middle fw-pt-7 fw-pb-7">
                            <div class="language-icon"><img class="fw-width-23 fw-block" src="images/ko@2x.jpg" alt=""></div>
                            <span class="language-title fw-block fw-fz-16 fw-color-white fw-color-gray fw-ml-5">KO</span>
                        </a>
                    </li>
                </ul>
            </div>
            {# end #}
        </div>

    </div>
    <div class="container fw-relative fw-z-index-1">
        <div class="header-content fw-relative fw-text-center">
            <h1 class="fw-font-normal fw-AvenirNextBold fw-fz-40 fw-color-white fw-margin-0 fw-mb-10">Секс-знакомства в Новосибиркске</h1>
            <h2 class="fw-fz-32 fw-color-white fw-font-normal fw-GloberBoldItalic fw-margin-0">Сотни анкет живых пользователей</h2>

            <img src="images/vector.png" class=" fw-block fw-width-30 fw-margin-auto fw-mt-50 fw-mb-40" alt="">

            <p class="fw-color-white fw-RobotoMedium fw-fz-20 fw-mb-35">Укажите номер телефона и мы пришлем ссылку на скачивание приложения</p>
            
            <form class="fw-flex fw-flex-center fw-flex-middle fw-flex-column fw-mb-20">
                <div class="fw-width-1-1 fw-border-radius-20 fw-overflow-hidden fw-border-style-solid fw-border-width-2 fw-border-color-red2 fw-flex fw-flex-center fw-max-width-300 fw-flex-middle fw-relative fw-mb-15">
                    <select name="" id="" class="fw-pointer fw-RobotoRegular fw-outline-none fw-fz-16 fw-border-none fw-bg-color-white fw-absolute fw-left-2 fw-transform-middle fw-height-percent-84">
                        <option value="1">+7</option>
                        <option value="2">+8</option>
                        <option value="3">+38</option>
                    </select>

                    <input type="text" class="fw-height-40 fw-border-none fw-RobotoRegular fw-fz-16 fw-pl-50 fw-width-1-1">
                </div>

                <button class="fw-red-bg-hover2 fw-RobotoMedium fw-fz-16 fw-color-white fw-bg-color-red2 fw-border-radius-20 fw-max-width-300 fw-width-1-1 fw-height-40 fw-flex fw-flex-center fw-flex-middle fw-border-none fw-pointer">Скачать</button>
            </form>
        </div>
    </div>

    <a href="#girls" class="js-go-to header-scroll-bottom fw-absolute fw-transform-center fw-bottom-75">
        <img src="images/header-arr.png" class="fw-width-28" alt="">
    </a>
</header>